html {
	--color-sky-light: #b6e4fe;
	--color-sky-dark: #00589f;
  font-size: calc(60% + 0.8vmin);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}

:root {
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: default;
}